<h2>全栈</h2>
<h3>Ajax交互式网页应用</h3>
<%= link_to "jQuery 练习一", jquery_1_path %> |
<%= link_to "jQuery 练习二", jquery_2_path %> |
<%= link_to "jQuery 练习三", jquery_3_path %> |
<%= link_to "jQuery 练习四", jquery_4_path %> |
<%= link_to "jQuery 练习五", jquery_5_path %>
<p>更多效果请查看菜鸟教程，左侧『jQuery 参考手册』部分：<a href="http://www.runoob.com/jquery/jquery-ref-events.html">http://www.runoob.com/jquery/jquery-ref-events.html</a></p>